@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
/* global rules */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #bdc7d9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --main-color: #8e44ad;
  --hover-color: #732d91;
}
/* global rules */
.start {
  font-size: 18px;
  color: white;
  background-color: var(--main-color);
  padding: 10px 50px;
  border-radius: 5px;
}
.box {
  width: 600px;
  padding: 50px 0 0 0;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.qItem {
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
}
.qItem h2 {
  text-align: center;
  text-transform: capitalize;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .box {
    margin: 0 15px;
  };
  .qItem {
    width:100%;
  };
  .qItem h2 {
    font-size: 20px;
  };
  .answers div {
    padding-left:10px;
}
.answers {
  display: flex;
  flex-direction: column;
}
.answers div {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}
button {
  background-color: var(--main-color);
  width: 100%;
  border: none;
  padding: 20px;
  color: white;
  font-size: 18px;
}
.disabled {
  background-color: var(--hover-color);
  cursor: default;
}
.start:hover,
button:hover {
  background-color: var(--hover-color);
}
.answers label,
.answers input,
.start,
button {
  cursor: pointer;
}
